*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7194c5;
    padding: 10px 20px;
}

.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: cursive;
    font-size: 30px;
    color: rgb(255, 0, 55);
    font-weight: 700;
}

#btn{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    border: none;
    background: transparent;
    border-radius: 5px;
    display: none;
}

#btn i{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: all .1s linear;
}

#btn i:hover{
    background-color: rgb(205, 201, 201);
}

.links{
    height: auto;
    display: flex;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    gap: 1rem;
    transition: height .3s linear;

}

.links li{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    transition: all .2s linear;
}

.links li:hover{
    background-color: lightgray;
}

.links.sm{
    height: 150px;

}

@media screen and (max-width: 750px) {
    #btn{
        display: block;
    }

    nav{
        display: block;
    }

    .links{
        height: 0;
        margin-top: 20px;
        overflow: hidden;
        flex-direction: column;
        gap: 0;
        
    }

    .links li{
        padding: 10px;
    }

}